#title {
  text-align: center;
  background-color: silver;
}

#hidden {
  display: none;
}

#answer {
  display: none;
  text-align: center;
}

#answers {
  text-align: center;
}

form {
  text-align: center;
}

ul {
  text-align: center;
  display: inline-block;
}

#randomn {
  text-align: center;
}

#orange {
  background-color: orange;
  float: left;
  width: 300px;
  padding-bottom: 50px;
}

.green {
  color: green;
  font-family: monospace;
}

.white {
  color: white;
  font-family: fantasy;
}

.blue {
  color: blue;
  font-family: fantasy;
}

.tpadding form {
  padding-top: 30px;
}
